In [289]:
import os
print(os.getcwd())

C:\Users\nithin.r.shetty\Downloads\a01c26dcd27711ea\Dataset

In [385]:
import pandas as pd
from sklearn.preprocessing import Normalizer, LabelEncoder
normalizer = Normalizer()
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score
from xgboost import XGBClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, make_scorer
from sklearn.model_selection import GridSearchCV

In [386]:
data=pd.read_csv("train.csv")

In [387]:
data.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [388]:
data.groupby(['condition','breed_category']).size()

condition  breed_category
0.0        1.0               6281
1.0        0.0               6819
2.0        0.0               2181
           1.0               2076
dtype: int64

In [389]:
data['breed_category'].value_counts()

0.0    9000
1.0    8357
2.0    1477
Name: breed_category, dtype: int64

In [390]:
du=data[data['condition'].isnull()]

In [391]:
du.shape

(1477, 11)

In [392]:
du.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
21,ANSL_50488,2018-01-07 00:00:00,2018-07-28 12:36:00,NaN,Brown,0.45,14.00,11,4,2.0,4
35,ANSL_54000,2018-01-14 00:00:00,2018-02-11 14:49:00,NaN,White,0.03,21.90,13,9,2.0,1
38,ANSL_50330,2017-07-27 00:00:00,2018-02-18 10:19:00,NaN,Brown,0.73,8.22,0,6,2.0,4
43,ANSL_58673,2017-12-29 00:00:00,2018-03-08 11:04:00,NaN,Black,0.08,30.40,9,2,2.0,1

In [393]:
du['breed_category'].value_counts()

2.0    1477
Name: breed_category, dtype: int64

In [394]:
data.fillna(3.0,inplace=True)
data.shape

(18834, 11)

In [395]:
data.groupby(['condition','breed_category','pet_category']).size()

condition  breed_category  pet_category
0.0        1.0             1               2376
                           2               3875
                           4                 30
1.0        0.0             1               2218
                           2               4576
                           4                 25
2.0        0.0             0                 30
                           1                977
                           2               1116
                           4                 58
           1.0             0                  7
                           1               1030
                           2                994
                           4                 45
3.0        2.0             0                 51
                           1                583
                           2                 60
                           4                783
dtype: int64

In [396]:
X=data[['condition','color_type','length(m)','height(cm)','X1','X2']]
y_bred=data['breed_category']
y_pet=data['pet_category']

In [397]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=9)

In [398]:
enc=LabelEncoder()

In [399]:
#X_train.shape

In [400]:
#data['length(m)']=data['length(m)']*100

In [401]:
data['length(m)'].head()

0    0.80
1    0.72
2    0.15
3    0.62
4    0.50
Name: length(m), dtype: float64

In [402]:
#X_train['color_type']=enc.fit_transform(X_train['color_type'])#
#X_test['color_type']=enc.transform(X_test['color_type'])
X['color_type']=enc.fit_transform(X['color_type'])

C:\Users\nithin.r.shetty\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [403]:
#X_train['length(m)']=normalizer.fit_transform(X_train['length(m)'].values.reshape(-1,1))
#X_test['length(m)']=normalizer.transform(X_test['length(m)'].values.reshape(-1,1))
#X['length(m)']=normalizer.transform(X['length(m)'].values.reshape(-1,1))

In [404]:
#X_train['height(cm)']=normalizer.fit_transform(X_train['height(cm)'].values.reshape(-1,1))
#X_test['height(cm)']=normalizer.transform(X_test['height(cm)'].values.reshape(-1,1))
#X['height(cm)']=normalizer.fit_transform(X['height(cm)'].values.reshape(-1,1))

In [405]:
#clf=RandomForestClassifier(n_estimators=100,max_depth=40)

In [406]:
clf1=XGBClassifier()
clf2=XGBClassifier()

In [407]:
parameters = {
    'max_depth': range (2, 10, 1),
    'n_estimators': range(60, 220, 40),
    'learning_rate': [0.1, 0.01, 0.05]
}

In [410]:
grid_search = GridSearchCV(
    estimator=clf1,
    param_grid=parameters,
    scoring = 'f1_weighted',
    n_jobs = 10,
    cv = 10,
    verbose=True
)

In [434]:
grid_search.fit(X,y_pet)

Fitting 10 folds for each of 96 candidates, totalling 960 fits

[Parallel(n_jobs=10)]: Using backend LokyBackend with 10 concurrent workers.
[Parallel(n_jobs=10)]: Done  30 tasks      | elapsed:   36.5s
[Parallel(n_jobs=10)]: Done 180 tasks      | elapsed:  3.5min
[Parallel(n_jobs=10)]: Done 430 tasks      | elapsed: 27.3min
[Parallel(n_jobs=10)]: Done 780 tasks      | elapsed: 58.4min
[Parallel(n_jobs=10)]: Done 960 out of 960 | elapsed: 82.4min finished

GridSearchCV(cv=10, error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=10,
             param_grid={'learning_rate': [0.1, 0.01, 0.05],
                         'max_depth': range(2, 10),
                         'n_estimators': range(60, 220, 40)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=True)

In [412]:
grid_search.best_params_

{'learning_rate': 0.1, 'max_depth': 2, 'n_estimators': 100}

In [247]:
grid_search.best_params_

{'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 180}

In [413]:
clf1=XGBClassifier(n_estimators=100, max_depth=2, learning_rate=0.1)

In [414]:
clf2=XGBClassifier(n_estimators=100, max_depth=2, learning_rate=0.1)

In [415]:
clf1.fit(X,y_bred)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=2,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [416]:
clf2.fit(X,y_pet)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=2,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [417]:
test=pd.read_csv('test.csv')

In [418]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [419]:
test_x=test[['condition','color_type','length(m)','height(cm)','X1','X2']]

In [420]:
#test_x['length(m)']=test_x['length(m)']*100

In [421]:
test_x.fillna(3.0,inplace=True)

C:\Users\nithin.r.shetty\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [422]:
test_x['color_type']=enc.transform(test_x['color_type'])
#test_x['length(m)']=normalizer.transform(test_x['length(m)'].values.reshape(-1,1))
#test_x['height(cm)']=normalizer.fit_transform(test_x['height(cm)'].values.reshape(-1,1))

C:\Users\nithin.r.shetty\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [423]:
test_x.head()

   condition  color_type  length(m)  height(cm)  X1  X2
0        0.0           2       0.87       42.73   0   7
1        1.0          38       0.06        6.71   0   1
2        1.0           2       0.24       41.21   0   7
3        1.0           2       0.29        8.46   7   1
4        1.0          15       0.71       30.92   0   7

In [424]:
test_x.isna().sum()

condition     0
color_type    0
length(m)     0
height(cm)    0
X1            0
X2            0
dtype: int64

In [425]:
y_pred_bred=clf1.predict(test_x)

In [426]:
y_pred_pet=clf2.predict(test_x)

In [427]:
test['breed_category']=y_pred_bred
test['pet_category']=y_pred_pet

In [428]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,1.0,2
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,0.0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,0.0,2
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,0.0,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,0.0,2

In [429]:
#s1=f1_score(y_test['breed_category'],y_pred_breed,average='weighted')

In [430]:
#s2=f1_score(y_test['pet_category'],y_pred_pet,average='weighted')

In [431]:
#print(((s1+s2)/2)*100)

In [432]:
sub=test[['pet_id','breed_category','pet_category']]

In [433]:
sub.to_csv("my_output_nithin.csv",index=False)

In [130]:
#RF
sub['breed_category'].value_counts()

0.0    4231
1.0    3222
2.0     619
Name: breed_category, dtype: int64

In [326]:
#DT
#sub['breed_category'].value_counts()

0.0    4149
1.0    3304
2.0     619
Name: breed_category, dtype: int64

In [327]:
#sub['pet_category'].value_counts()

2.0    4958
1.0    2753
4.0     346
0.0      15
Name: pet_category, dtype: int64

In [263]:
ori=pd.read_csv('test.csv')

In [266]:
ori.tail()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
8067,ANSL_66809,2016-02-10 00:00:00,2017-03-10 14:56:00,2.0,Brown,0.82,36.08,13,9
8068,ANSL_59041,2015-12-07 00:00:00,2018-02-12 00:00:00,0.0,Tan,0.49,27.54,13,9
8069,ANSL_60034,2015-12-08 00:00:00,2017-01-04 17:19:00,0.0,Black,0.98,37.19,0,7
8070,ANSL_58066,2016-06-28 00:00:00,2017-07-20 18:19:00,NaN,Black,0.79,23.83,0,2
8071,ANSL_69436,2016-02-02 00:00:00,2017-02-28 16:47:00,0.0,Black,0.64,24.51,0,1